PartIndexer/PartIndexer/Web References/PartIndexerWS/SearchDataIndex.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="StartIndex">
        <s:complexType />
      </s:element>
      <s:element name="StartIndexResponse">
        <s:complexType />
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StartIndexSoapIn">
    <wsdl:part name="parameters" element="tns:StartIndex" />
  </wsdl:message>
  <wsdl:message name="StartIndexSoapOut">
    <wsdl:part name="parameters" element="tns:StartIndexResponse" />
  </wsdl:message>
  <wsdl:message name="StartIndexAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="SearchDataIndexSoap">
    <wsdl:operation name="StartIndex">
      <wsdl:input message="tns:StartIndexSoapIn" />
      <wsdl:output message="tns:StartIndexSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearchDataIndexSoap" type="tns:SearchDataIndexSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartIndex">
      <soap:operation soapAction="http://tempuri.org/StartIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:StartIndexAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SearchDataIndexSoap12" type="tns:SearchDataIndexSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartIndex">
      <soap12:operation soapAction="http://tempuri.org/StartIndex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:StartIndexAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchDataIndex">
    <wsdl:port name="SearchDataIndexSoap" binding="tns:SearchDataIndexSoap">
      <soap:address location="http://www.bba-reman.com/Search/SearchDataIndex.asmx" />
    </wsdl:port>
    <wsdl:port name="SearchDataIndexSoap12" binding="tns:SearchDataIndexSoap12">
      <soap12:address location="http://www.bba-reman.com/Search/SearchDataIndex.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>